In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Picking a stock and defining the stock ticker symbol
ticker = 'AAPL' # Apple Inc.

In [3]:
# Setting the time period for the data I want to gather
start_date = '2015-01-01'
end_date = '2023-01-01'

In [4]:
# Downloading the data
data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [5]:
# Taking a look at top of the raw data
data.head(15)

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.373951  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  23.687307  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  23.689533  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.021715  160423600
2015-01-08  27.307501  28.037500  27.174999  27.972500  24.944687  237458000
2015-01-09  28.167500  28.312500  27.552500  28.002501  24.971441  214798000
2015-01-12  28.150000  28.157499  27.200001  27.312500  24.356121  198603200
2015-01-13  27.857500  28.200001  27.227501  27.555000  24.572376  268367600
2015-01-14  27.260000  27.622499  27.125000  27.450001  24.478743  195826400
2015-01-15  27.500000  27.514999  26.665001  26.705000  23.814381  240056000
2015-01-16  26.757500  26.895000  26.299999  26.497499  23.629339  314053200
2015-01-20  26.959999  27.242500  26.625000  27.180000  24.237963  199599600
2015-01-21  27.237499  27.764999  27.067499  27.387501  24.423008  194303600
2015-01-22  27.565001  28.117500  27.430000  28.100000  25.058386  215185600
2015-01-23  28.075001  28.437500  27.882500  28.245001  25.187685  185859200

In [6]:
# Taking a look at the tail of the data
data.tail(15)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-09,142.339996,145.570007,140.899994,142.160004,140.835388,76097000
2022-12-12,142.699997,144.500000,141.059998,144.490005,143.143692,70462700
2022-12-13,149.500000,149.970001,144.240005,145.470001,144.114563,93886200
2022-12-14,145.350006,146.660004,141.160004,143.210007,141.875595,82291200
2022-12-15,141.110001,141.800003,136.029999,136.500000,135.228134,98931900
2022-12-16,136.690002,137.649994,133.729996,134.509995,133.256653,160156900
2022-12-19,135.110001,135.199997,131.320007,132.369995,131.136597,79592600
2022-12-20,131.389999,133.250000,129.889999,132.300003,131.067245,77432800
2022-12-21,132.979996,136.809998,132.750000,135.449997,134.187927,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,130.997910,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,130.631348,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,128.818420,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,124.865593,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,128.402344,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,128.719345,77034200

In [7]:
# Displaying the features/variables so I have the actual names handy for calling them
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [8]:
# Getting daily returns 
data['Daily Return'] = data['Adj Close'].pct_change()

In [9]:
# Just getting rid of any missing values 
data = data.dropna()

In [10]:
# Display the first few rows of the daily returns 
print(data[['Adj Close', 'Daily Return']].head())

            Adj Close  Daily Return
Date
2015-01-05  23.687307     -0.028171
2015-01-06  23.689533      0.000094
2015-01-07  24.021715      0.014022
2015-01-08  24.944687      0.038422
2015-01-09  24.971441      0.001073